div {
  margin: 3px 0 0 0;
  padding: 0;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box div span {
  display: flex;
}

div span #watch, #chat{
  margin-right: 5px;
}

