<div class="container_big-card">
  <div class="big-card__photo">

    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
      alt="big-card photo"
    >

  </div>
    <div class="big-card__title">
      <a href="#">Amazing experience travelling on mountains</a>
    </div>
    <div class="big-card__description">
      <p>
        <a href="">
          Do your own food, like a viking and feels
          a heart break long long ago in a darkness
          forest  Nunc vel pharetra est, eu sodales
          ligula. Donec volutpat ut urna eu fringilla.
        </a>
      </p>
    </div>

  <app-br-datacomments></app-br-datacomments>
</div>
