.container_small-card {
  width: 409px;
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: center;
  background-color: #fff;
  margin-bottom: 23px;
}
.small-card__title {
  margin: 21px 30px 0 30px;
}
.small-card__title a{
  color: #000;
  font-size: 33px;
  cursor: pointer;
  text-decoration: none;
}
.small-card__title a:hover{
  transform: .5s ease-in-out;
  text-decoration: underline;
}
.small-card__description {
  margin: 3px 30px 25px 30px;
}
.small-card__description a{
  color: #000;
  font-family: 'Inria Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.small-card__description a:hover{
  transform: .5s;
  color: #505050;
  text-decoration: underline;
}

#br-small {
  width: calc(100% - 60px)
}
