<body>
  <app-menu-title></app-menu-title>
  <div class="container__articles">
    <div class="articles__column1">
      <app-big-card></app-big-card>
    </div>

    <div class="articles__column2">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>

    <div class="articles__column3">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>
  </div>
</body>
